.cardContainer{
    margin:1rem 0 !important;
}
.dataCard{
 margin: 1% 3% !important;

}
.infected{
border-left: 1rem solid rgba(0, 0, 255);
}
.recovered{
border-left: 1rem solid rgba(0, 255, 0);
}
.deaths{
border-left: 1rem solid rgba(255, 0, 0);
}

@media(max-width:600px){
    .dataCard{
        width:85%;
    }
}